.order-confirm-tab {
  .text-notification {
    .waiting-number {
      color: #6dc26d;
      font-weight: 600;
    }
  }
  .data-table-common {
    .body-row-table {
      .col-name {
        padding: 0 20px;
        .name {
          margin: 0;
          font-weight: bold;
        }
        .level {
          text-align: center;
        }
      }
    }
  }
}