.pagination-custom {
  display: flex;
  padding: 20px;
  align-items: center;
  .total-records {
    margin: 0;
  }
  .pagination-container {
    margin-left: auto;
    margin-bottom: 0;
    .previous, .next {
      .force-page-btn {
        border: none;
        outline: none;
      }
    }
    .pagination-item {
      width: 30px;
      height: 30px;
      text-align: center;
      &:hover {
        cursor: pointer;
      }
      a {
        &:focus {
          outline: none;
        }
      }
    }
    .active {
      background-color: black;
      color: white;
      border-radius: 50%;
    }
  }
}